/* CATEGORY SPECIFIC STYLES */
.category-header {
	background: $primary;
	display: inline-block;
	color: white;
	-webkit-font-smoothing: antialiased;
	@include rem(font-size,1.5rem);
	padding: 12px 20px;
	@include rem(margin,1.55rem 1rem);

	@include breakpoint(large) {
		@include rem(margin, 1.25rem 0);
	}
	@include breakpoint(landscape) {
		@include rem(margin,1.85rem 2.5rem);
	}
	@include breakpoint(portrait) {
		@include rem(margin, 2rem 2rem);
	}
	@include breakpoint(mobile) {
		width: 100%;
		clear: both;
		float: none;
		@include rem(margin, 0 0 1.5rem 0);
		@include rem(font-size,1.75rem);
		text-align: center;
	}
}