/* IMAGES */
img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: inline-block;

	&.mainlogo {
		padding: 25px 0;
		width: 185px;
	}

	&.alignleft,
	&.aligncenter,
	&.alignright,
	&.fullbleed {
		@include rem(margin-bottom,1.5rem);
	}
	&.aligncenter
	&.fullbleed {
		clear:both;
	}

	&.fullbleed {
		width: 108%;
		@include calc(width, "100% + 5rem");
		@include rem(margin-left,-2.5rem);

		@include breakpoint(large) {
			width: 125%;
			@include calc(width, "100% + 14rem");
			@include rem(margin-left, -7rem);
		}
		@include breakpoint(landscape) {
			@include calc(width, "100% + 4rem");
			@include rem(margin-left,-2rem);
		}
		@include breakpoint(portrait) {
			@include calc(width, "100% + 3rem");
			@include rem(margin-left,-1.5rem);
		}
		@include breakpoint(mobile) {
			width: 109%;
			@include calc(width, "100% + 2rem");
			@include rem(margin-left,-1rem);
		}
	}
}

#wpstats {
	width: 1px !important;
	height: 1px !important;
	@include opacity(0);
}