/* POST LISTING */
.post-listing {
	padding-bottom: 50px;

	&:after {
		clear: both;
		content: "";
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
.center-post-box {
	width: 100%;
	padding: 0 380px 0 0;
	@include rem(margin-bottom,7rem);

	@include breakpoint(large) {
		padding-right: 465px;
	}
	@include breakpoint(landscape) {
		padding-right: 315px;
	}
	@include breakpoint(portrait) {
		padding-right: 0;
	}
	@include breakpoint(mobile) {
		padding-right: 0;
		@include rem(margin-bottom,4.5rem);
	}

	& .center-sidebar {
		position: absolute;
		right: 0;
		top: 0;
		width: 315px;
		text-align: center;

		@include breakpoint(large) {
			width: 400px;
		}
		@include breakpoint(landscape) {
			width: 250px;
		}
		@include breakpoint(portrait) {
			width: 100%;
			position: relative;
		}
		@include breakpoint(mobile) {
			width: 100%;
			position: relative;
		}

		& .category {
			text-transform: uppercase;
			font-family: Montserrat, sans-serif;
			font-weight: bold;
			display: inline-block;
			padding-bottom: 5px;
			margin-left: 0;
			@include rem(font-size,0.875rem);
			@include rem(margin-bottom,1rem);
			border-bottom: 3px solid $dark;
			@include transition(color 0.2s, border-color 0.2s);

			@include breakpoint(portrait) {
				@include rem(margin-bottom,2rem);
			}
		}
		&:after {
			clear: both;
			content: "";
			display: block;
			font-size: 0;
			line-height: 0;
			visibility: hidden;
			width: 0;
			height: 0;
		}
	}

	&.search-results {
		padding-right: 0;
		@include rem(margin-bottom,2rem);
	}
}
.bottom-post-box {
	padding: 15px 15px 0 0;
	background: image-url('stripes_dark_slant.png');

	&:after {
		clear: both;
		content: "";
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}


.post {
	border-bottom: 5px solid $dark;
	@include transition(border-color 0.2s);
	position: relative;

	&:hover {
		border-color: $primary;

		& .category {
			@include transition(0.2s);

			color: $primary;
			border-color: $primary;
		}
	}

	.body-mobile & {
		&:hover {
			border-color: white;

			& .category {
				color: $dark;
				border-color: $dark;
			}
		}
	}

	h2 {
		padding: 0 15px;
		color: $dark;

		@include breakpoint(mobile) {
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}

		a {
			@include transition(color 0.2s);

			&:hover {
				color: $primary;
			}
		}
	}
	a {
		color: $dark;
		text-decoration: none;
	}
	& .post-image {
		width: 100%;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		margin-bottom: 15px;
	}

	& .category {
		text-transform: uppercase;
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		display: inline-block;
		padding-bottom: 5px;
		margin-left: 15px;
		border-bottom: 3px solid $dark;
		@include transition(color 0.2s, border-color 0.2s);
	}
	& .post-details {
		text-transform: uppercase;
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		margin-bottom: 8px;
		padding: 0 15px;

		& .bullet {
			margin: 0 10px;
		}
	}
	& .excerpt {
		display: block;
		font-family: Lora, serif;
		line-height: 1.4;
		padding: 0 15px;
	}
	& .post-link {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 20px;
	}
	& .readmore {
		position: relative;
		display: table;
		color: $dark;
		border: 3px solid $dark;
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 13px;
		margin: 0 auto;
		@include rem(font-size,0.75rem);
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		@include transition(0.1s);

		&:hover {
			background: $dark;
			color: white;
		}
	}

	&.center-post {
		border-bottom: 1px solid rgba($dark,0.15);
		padding-bottom: 25px;
		margin-bottom: 25px;

		&:last-of-type {
			border-bottom: 0;
			margin-bottom: 0;

			@include breakpoint(portrait) {
				padding-bottom: 50px;
				margin-bottom: 40px;
			}
			@include breakpoint(mobile) {
				padding-bottom: 45px;
				margin-bottom: 30px;
			}

			&:after {
				@include breakpoint(portrait) {
					display: block;
					position: absolute;
					width: 100%;
					height: 15px;
					bottom: 0;
					left: 0;
					@include opacity(0.3);
					background: image-url('stripes_dark.png');
					content: "";
				}
				@include breakpoint(mobile) {
					display: block;
					position: absolute;
					width: 100%;
					height: 15px;
					bottom: 0;
					left: 0;
					@include opacity(0.3);
					background: image-url('stripes_dark.png');
					content: "";
				}
			}
		}

		& .category {
			@include rem(margin-bottom,0.875rem);
			@include rem(font-size,0.875rem);
			margin-left: 0;
		}
		h2 {
			@include rem(font-size,2.875rem);
			letter-spacing: -3px;
			padding: 0;
			line-height: 0.9;
			@include rem(margin-bottom,0.35rem);

			@include breakpoint(landscape) {
				letter-spacing: -3px;
			}
		}
		& .post-details {
			display: inline;
			padding: 0;
			@include rem(font-size,0.875rem);
		}
		& .bullet {
			display: inline;
			margin: 0 10px;
		}
		& .excerpt {
			display: inline;
			line-height: 1.25;
			padding: 0;
		}
	}

	&.center-sidebar-post {
		border-bottom: 0;
		text-align: center;
		padding-bottom: 35px;
		margin-bottom: 25px;

		@include breakpoint(mobile) {
			border-bottom: 1px solid rgba($dark,0.15);
			padding-bottom: 25px;
			margin-bottom: 25px;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;

			&:after {
				display: none;
			}

			@include breakpoint(mobile) {
				border-bottom: 0;
			}
		}

		@include breakpoint(portrait) {
			width: 50%;
			display: block;
			float: left;
			@include rem(padding,0 1.75rem);
		}

		& .category {
			margin-left: 0;
			@include rem(font-size,0.875rem);
			@include rem(margin-bottom,1rem);
		}
		& .post-image {
			width: 55%;
			padding-bottom: 55%;
			@include border-radius(100%);
			@include rem(margin,0 auto 1rem auto);

			@include breakpoint(landscape) {
				width: 60%;
				padding-bottom: 60%;
			}
			@include breakpoint(portrait) {
				width: 65%;
				padding-bottom: 65%;
				@include rem(margin-bottom,1.5rem);
			}
		}
		h2 {
			padding: 0;
			@include rem(font-size,2rem);
			letter-spacing: -2px;
			line-height: 0.9;
			@include rem(margin-bottom,0.875rem);

			@include breakpoint(landscape) {
				letter-spacing: -2px;
			}
		}
		& .post-details {
			@include rem(font-size,0.825rem);
			@include rem(margin-bottom,0.875rem);
		}
		& .excerpt {
			padding: 0;
			@include rem(font-size,0.825rem);
		}

		&:after {
			display: block;
			position: absolute;
			width: 100%;
			height: 15px;
			bottom: 0;
			left: 0;
			@include opacity(0.3);
			background: image-url('stripes_dark.png');
			content: "";

			@include breakpoint(portrait) {
				display: none;
			}
			@include breakpoint(mobile) {
				display: none;
			}
		}
	}

	&.front-video-post {
		@include rem(padding, 0 6.5rem 4.5rem 6.5rem);
		@include rem(margin-bottom,4.5rem);
		border: 0;
		text-align: center;

		@include breakpoint(portrait) {
			@include rem(padding, 0 3.5rem 4.5rem 3.5rem);
		}
		@include breakpoint(mobile) {
			@include rem(padding, 0 1rem 3.5rem 1rem);
		}

		&:hover {
			& .category {
				border-color: $primary;
			}
		}

		.body-mobile & {
			&:hover {
				& .category {
					border-color: $dark;
				}
			}
		}

		a {
			color: $dark;
		}

		& .category {
			display: inline-block;
			margin: 0 auto 25px auto;
			border-color: $dark;
		}
		& .video {
			display: block;
			width: 100%;
		}
		header {
			margin-top: 30px;
		}
		h2 {
			@include rem(font-size,3.75rem);
			letter-spacing: -3px;
			margin-bottom: 15px;

			@include breakpoint(mobile) {
				@include rem(font-size,2.5rem);
				line-height: 0.9;

			}
		}
		& .post-details {
			margin-bottom: 10px;
		}
		& .excerpt {
			@include breakpoint(portrait) {
				margin-bottom: 8px;
			}
			@include breakpoint(mobile) {
				margin-bottom: 25px;
			}
		}
	}

	&.bottom-post {
		width: 23.5%;
		@include calc(width, "(100% - 60px)/4");
		float: left;
		margin-left: 15px;
		background: white;
		color: $dark;
		padding-bottom: 10px;
		border-color: white;
		margin: 0 0 15px 15px;
		@include rem(height,17.5rem);

		@include breakpoint(portrait) {
			@include calc(width, "(100% - 45px)/3");
		}
		@include breakpoint(mobile) {
			@include calc(width, "(100% - 15px)");
			border-bottom: 0;
		}

		&:hover {
			border-color: $primary;

			& .category {
				border-color: $primary;
			}
		}

		.body-mobile & {
			border-bottom: 0;

			&:hover {
				& .category {
					border-color: $dark;
				}
			}
		}

		a {
			color: $dark;
		}
		& .post-image {
			height: auto;
			margin-bottom: 10px;
		}
		& .category {
			margin-bottom: 11px;
			margin-left: 11px;
			padding-bottom: 4px;
			border-color: $dark;
			@include rem(font-size,0.75rem);
		}
		h2 {
			margin-bottom: 11px;
			padding: 0 11px;
			@include rem(font-size,1.45rem);
			letter-spacing: -1px;
			line-height: 0.9;
		}
		& .post-details {
			padding: 0 11px;
			@include rem(font-size,0.75rem);
		}
	}
}

.firstpost {
	width: 100%;
	margin: 0;
	@include rem(height,34rem);
	@include rem(margin-bottom,3rem);
	border: 0;
	background-color: $dark;

	@include breakpoint(large) {
		@include rem(height,38rem);
	}
	@include breakpoint(portrait) {
		@include rem(height,40rem);
	}
	@include breakpoint(mobile) {
		@include rem(height,auto);
		@include rem(padding-top,5rem);
		@include rem(padding-bottom,2rem);
	}

	&:hover {
		& .category {
			color: white;
		}
	}

	& .post-image {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}

	h2 {
		a {
			color: white;

			&:hover {
				color: white;
			}
		}
	}

	& .post-info {
		z-index: 3;
		position: absolute;
		left: 0;
		bottom: 45px;
		width: 100%;
		color: white;
		-webkit-font-smoothing: antialiased;

		@include breakpoint(mobile) {
			position: relative;
			left: auto;
			bottom: auto;
		}

		a {
			color: white;
			text-decoration: none;
		}
		h2 {
			margin-bottom: 15px;
			padding: 0;
			@include rem(font-size,5.25rem);

			@include breakpoint(large) {
				@include rem(font-size,6.5rem);
			}
			@include breakpoint(landscape) {
				@include rem(font-size,6rem);
				letter-spacing: -4px;
			}
			@include breakpoint(portrait) {
				@include rem(font-size, 6rem);
				letter-spacing: -4px;
			}
		}

		& .post-more {
			width: 55%;
			display: block;

			@include breakpoint(large) {
				width: 50%;
			}
			@include breakpoint(landscape) {
				width: 60%;
			}
			@include breakpoint(portrait) {
				width: 80%;
			}
			@include breakpoint(mobile) {
				width: 100%;
			}
		}
		& .category{
			text-transform: uppercase;
			font-family: Montserrat, sans-serif;
			font-weight: bold;
			margin-bottom: 20px;
			display: inline-block;
			@include rem(font-size,1.05rem);
			padding-bottom: 5px;
			color: white;
			border-bottom: 3px solid white;
			margin-left: 0;
		}
		& .post-details {
			text-transform: uppercase;
			font-family: Montserrat, sans-serif;
			font-weight: bold;
			@include rem(font-size,0.875rem);
			margin-bottom: 12px;
			padding: 0;

			& .bullet {
				margin: 0 15px;
			}
		}
		& .excerpt {
			width: 72%;
			display: block;
			float: left;
			font-family: Lora, serif;
			@include rem(font-size,1rem);
			line-height: 1.25;
			padding: 0;

			@include breakpoint(mobile) {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		& .post-link {
			position: relative;
			display: inline-block;
			float: right;
			width: auto;
			left: auto;
			bottom: auto;

			@include breakpoint(mobile) {
				float: none;
				clear: both;
				display: table;
				margin: 0 auto;
			}
		}
		& .readmore {
			display: inline-block;
			float: right;
			color: white;
			border: 3px solid white;
			font-family: Montserrat, sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 13px;
			@include rem(font-size,0.875rem);
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			@include transition(0.1s);

			&:hover {
				background: white;
				color: $dark;
			}
		}
	}

	& .gradient-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		/*@include filter-gradient(#a6000000, #00000000, horizontal);*/
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );*/
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left, rgba($dark,0.75) 0%,rgba($dark,0) 100%));
		@include opacity(0.5);
		@include transition(0.25s);
	}

	&:hover {
		& .category {
			color: white !important;
			border-color: white !important;
		}

		& .gradient-overlay {
			@include opacity(0.85);

			@include breakpoint(mobile) {
				@include opacity(0.5);
			}
		}

		.body-mobile & {
			& .category {
				color: white !important;
				border-color: white !important;
			}
			& .gradient-overlay {
				@include opacity(0.5);
			}
		}
	}
}


.page-links {
	@include rem(margin, 3rem 0 0 0);

	a {
		position: relative;
		display: inline-block;
		color: $dark;
		border: 3px solid $dark;
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 13px;
		@include rem(font-size,0.75rem);
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		@include transition(0.1s);

		&:hover {
			background: $dark;
			color: white;
		}
	}

	&:after {
		clear: both;
		content: "";
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}